#container {
    display: grid;
    border: dotted hotpink 2px;
    width: 98vw;
    height: 98vh;
    grid-template-rows: 1fr 6fr 1fr;
}

#header {
    background-color: aqua;
}

/* I want 3 coloumns and 4 rows

I want 1 coloumn to take up 1/4 of the space, 1 coloumn to take up 2/4 of the space, and the last one to take up 1/4 of the space  */

#main {
    border: solid red 3px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 6px;
}

.children {
    background-color: black;
}

#footer {
    background-color: green;
}

/* styling for grid practice layouts 1-3 */

#l1container {
    width: 98vw;
    height: 98vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 8px;
}

#a {
    color: gray;
    background-color: mediumaquamarine;
    font-family: courier new;
    font-size: 6em;
    border-radius: 10px;
    grid-column: 1 / 3;
    
}

#b {
    color: gray;
    background-color: mediumaquamarine;
    font-family: courier new;
    font-size: 6em;
    border-radius: 10px;
    grid-row: 1 / span 2;
}

#c {
    color: gray;
    background-color: mediumaquamarine;
    font-family: courier new;
    font-size: 6em;
    border-radius: 10px;
}

#d {
    color: gray;
    background-color: mediumaquamarine;
    font-family: courier new;
    font-size: 6em;
    border-radius: 10px;
}


/* end styling for grid layouts */
.lab1container {
    

}

#lab1child1 {
    background-color: tomato;
    width: 100px;
    height: 100px;
    animation: grow 1s;
}

#lab1child2 {
    background-color: navy;
    width: 100px;
    height: 100px;
    animation: grow 1s 2s;
}

@keyframes grow {
    0% {
        width: 100px;
    }
    100% {
        width: 400px;
    }
}